<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .image-preview {
            width: 192px;
            height: 108px;
            object-fit: contain;
        }

        .grow {
            transition: all .2s ease-in-out;
        }

        .grow:hover {
            transform: scale(1.1);
        }

    </style>

</head>
<body>
<div th:replace="navigation :: navbar "></div>
<div class="container-fluid p-2">
    <form th:action="@{/allItems}" method="get" class="mb-2 form-inline">
        <input class="form-control ml-2" type="search" placeholder="Ürün Ara" id="searchValue" aria-label="Search"
               name="searchValue"/>
        <button class="btn btn-outline-primary ml-2" type="submit">Ara</button>
    </form>
    <table class="table table-hover table-bordered table-">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Resim</th>
            <th scope="col">Ürün Ad</th>
            <th scope="col">Renk</th>
            <th scope="col">Fiyat</th>
            <th scope="col" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${itemList}">
            <td class="align-middle" th:text="${item.id}">Id</td>
            <td class="align-middle col-1"><img class="image-preview grow"
                                                th:src="@{${'../Pictures/' + item.id + '/' + item.image }}"
                                                id="itemImage"></td>
            <td class="align-middle" th:text="${item.name}">Adı</td>
            <td class="align-middle" th:text="${item.color}">Rengi</td>
            <td class="align-middle" th:text="${item.price} + ' ₺'">Fiyatı</td>
            <td class="align-middle"><a class="btn btn-outline-info" th:href="@{/itemDetail(id=${item.id})}"
                                        th:object="${itema}">Detay</a>
            </td>
            <td class="align-middle">
                <form th:method="delete" th:action="@{/deleteItem(itemId=${item.id})}">
                    <button class="btn btn-outline-danger"> Sil
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>