<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.name}">Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container w-25 float-left ">
    <div class="row form-group">
        <label>Ürün Ad: </label>
        <label th:text="${item.name}">Ad</label>
    </div>
    <div class="row form-group">
        <label>Ürün Renk : </label>
        <label th:text="${item.color}">Renk</label>
    </div>
    <div class="row form-group">
        <label>Ürün Fiyat: </label>
        <label th:text="${item.price}">Fiyat</label>
    </div>
</div>
</body>
</html>