<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container p2">
    <form class="needs-validation" th:action="@{login}" th:object="${userLogin}" method="POST" novalidate>
        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label for="validationTooltipUsername">E-Posta</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" th:field="*{email}"
                           placeholder="e@posta.com"
                           aria-describedby="validationTooltipUsernamePrepend" required>
                    <div class="invalid-tooltip">
                        Lütfen geçerli bir e posta giriniz!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">Şifre</label>
                <input type="text" class="form-control" id="validationTooltip03" th:field="*{password}"
                       placeholder="********" required>
                <div class="invalid-tooltip">
                    Şifre mimimum 8 karakterden oluşmalı!
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip04">Şifre Tekrarı</label>
                <input type="text" class="form-control" id="validationTooltip04" placeholder="********" required>
                <div class="invalid-tooltip">
                    Şifreler birbiri ile eşleşmeli!
                </div>
            </div>
        </div>
        <button class="btn btn-primary float-right" type="submit">Giriş Yap</button>
    </form>
</div>
</body>
</html>