<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeni Ürün Ekle</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .image-preview {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div th:replace="navigation :: navbar "></div>
<div class="container w-25 bg-light p-3 mt-3 border">
    <h4 class="modal-header">Yeni Ürün Ekle</h4>
    <form th:action="@{addItem}" th:object="${item}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fileImage">Resim</label>
            <input type="file" name="fileImage" id="fileImage">
        </div>
        <div class="form-group">
            <img class="image-preview" id="itemImage" alt="itemImage">
        </div>
        <div class="form-group">
            <label for="itemName">Ürün Ad</label>
            <input type="text" th:field="*{name}" class="form-control" id="itemName" placeholder="Ürün adı giriniz">
        </div>
        <div class="form-group">
            <label for="itemColor">Renk</label>
            <input type="text" th:field="*{color}" class="form-control" id="itemColor"
                   placeholder="Ürün rengini giriniz">
        </div>
        <div class="form-group">
            <label for="itemPrice">Fiyat</label>
            <input type="text" th:field="*{price}" class="form-control" id="itemPrice"
                   placeholder="Ürün fiyatı giriniz">
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary shadow">Ekle</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    const chooseFile = document.getElementById("fileImage");
    const previewImage = document.getElementById("itemImage");

    chooseFile.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);

        }

    })
</script>
</body>
</html>