<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kayıt Ol</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid bg-light w-25 mt-3">
    <form class="needs-validation d-flex flex-column p-2" th:action="@{addUser}" th:object="${user}" method="POST"
          novalidate>
        <div class=" mb-3">
            <label for="validationTooltip01">Ad</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Ad" th:field="*{name}"
                   required>
            <div class="valid-tooltip">
                Uygun!
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTooltip02">Soyad</label>
            <input type="text" class="form-control" id="validationTooltip02" placeholder="Soyad" th:field="*{surname}"
                   required>
            <div class="valid-tooltip">
                Uygun!
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTooltipUsername">E-Posta</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                </div>
                <input type="text" class="form-control" id="validationTooltipUsername" placeholder="e@posta.com"
                       aria-describedby="validationTooltipUsernamePrepend" th:field="*{email}" required>
                <div class="invalid-tooltip">
                    Lütfen geçerli bir e posta giriniz!
                </div>
            </div>
        </div>
        <div class=" mb-3">
            <label for="validationTooltip03">Şifre</label>
            <input type="password" class="form-control" id="validationTooltip03" placeholder="********"
                   th:field="*{password}" required>
            <div class="invalid-tooltip">
                Şifre mimimum 8 karakterden oluşmalı!
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTooltip04">Şifre Tekrarı</label>
            <input type="password" class="form-control" id="validationTooltip04" placeholder="********" required>
            <div class="invalid-tooltip">
                Şifreler birbiri ile eşleşmeli!
            </div>
        </div>
        <button class="btn btn-primary ml-auto " type="submit">Kayıt Ol</button>
    </form>
</div>
</body>
</html>